$colorDefault: #E0A808;
.home
{
    background: url("../public//planet_ecommerce.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    display: flex;
    align-items: center;
}
@keyframes fade {
    form{
        opacity: 0;
        transform: scale(1.8);
    }
    to{
        opacity: 1;
        transform: scale(1.5);
    }
}
.home::after
{
    content: "";
    width: 53%;
    height: 100vh;
    overflow-y: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 2;
    border-radius: 0 50% 50% 0;
    transform: scaleY(1.5);
    animation: fade .6s linear;
}
.intro
{
    position: absolute;
    left: 10%;
    color: white;
    z-index: 3;
}
.intro-head
{
    font-size: 50px;
    text-transform: uppercase;
}
.intro-content
{
    font-size: 20px;
    font-weight: bold;
}
.intro-btn button
{
    width: 200px;
    height: 50px;
    border-radius: 30px;
    border: none;
    outline: 0;
    margin-top: 20px;
    background-color: $colorDefault;
    color: white;
    font-size: 20px;
    cursor: pointer;
    outline: 0;
}
@keyframes animeLine {
    from{
        width: 00px;
    }
    to{
        width: 400px;
    }
}
.line
{
    width: 400px;
    height: 2px;
    background-color: white;
    animation: animeLine 1s linear;
}

@media (max-width: 500px) {
    .intro
    {
        left: 10%;
    }
    .intro-head
    {
        font-size: 30px;
        text-transform: uppercase;
    }
    .line{
        width: 200px;
    }
}