.div-widgets
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding: 0 20px;
}
.widget
{
    width: 250px;
}


@media (max-width: 500px) {
    .div-widgets
    {
        justify-content: center;
    }
    .widget
    {
        width: 300px;
    }
    .facebook-widget
    {
        width: 300px;
    }
}