$colorDefault: #E0A808;
.div-shops-bg
{
    position: relative;
    width: 100%;
    height: 80vh;
    background: linear-gradient(335deg, rgb(119, 118, 187), 30%, rgb(1, 0, 59));
}
.custom-shape-divider-bottom-1623278223 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1623278223 svg {
    position: relative;
    display: block;
    width: calc(150% + 1.3px);
    height: 248px;
}

.custom-shape-divider-bottom-1623278223 .shape-fill {
    fill: #FFFFFF;
}
.shops-welcome
{
    text-align: center;
    color: white;
    padding-top: 20vh;
}
.welcome 
{
    font-size: 35px;
    font-weight: bold;
}

.shops-data
{
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 9;
    width: 100%;
}
.div-shops
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.div-card-shop
{
    width: 200px;
    height: 200px;
    background-color: $colorDefault;
    color: white;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .5s;
    box-shadow: 0 0 20px rgba(207, 207, 207, 0.5);
    border-radius: 5px;
}
.div-card-shop:hover
{
    background-color: #e4be55;
}
.shop-first-letter
{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
.card-add-shop
{
    width: 200px;
    height: 200px;
    background-color: white;
    color: $colorDefault;
    border-radius: 5px;
    font-weight: bold;
    border: 2px solid $colorDefault;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .5s;
    box-shadow: 0 0 20px rgba(207, 207, 207, 0.5);
}
.div-resto-loading
{
    width: 200px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.resto-loading
{
    width: 50px;
    height: 50px;
    border: 3px solid gray;
    border-radius: 50px;
}
.resto-loading::before
{
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    z-index: 99;
    border: 3px solid transparent;
    border-top-color: white;
    margin-left: -2px;
    margin-top: -2px;
    animation: spin 1s infinite ease-in-out;
}
.div-spin-shops
{
    margin-top: 50px;
}
.shop-profile
{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.shop-avatar
{
    width: 300px;
    height: 200px;
    background-color: rgb(248, 248, 248);
    overflow: hidden;
    text-align: center;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shop-letter
{
    font-size: 50px;
    font-weight: bold;
}
.add-picture
{
    transform: scale(1.3);
    cursor: pointer;
}
.profile-shop-name
{
    font-size: 25px;
    margin-top: 15px;
    text-transform: uppercase;
}
.profile-shop-phone
{
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.profile-shop-meta
{
    display: flex;
    color: gray;
}
.profile-shop-date
{
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sep-date
{
    width: 5px;
}
.shop-profile-desc
{
    width: 100%;
    margin-top: 20px;
}
.profil-desc-title
{
    width: 30%;
    margin: auto;
    border-bottom: 1px solid rgb(168, 168, 168);
    font-size: 12px;
    color: gray;
    margin-bottom: 5px;
}
.div-btn-edit-shop
{
    margin-top: 20px;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}