$colorDefault: #E0A808;
.default-btn
{
    border: none;
    background-color: $colorDefault;
    border-radius: 10px;
    color: white;
}
.default-btn:hover, .default-btn:active
{
    background-color: $colorDefault;
    color: white;
}
.ant-btn:hover, .ant-btn:focus, .ant-btn:active
{
    background-color: $colorDefault;
    color: white;
}
.input-iconed, .ant-select:not(.ant-select-customize-input) .ant-select-selector
{
    border-radius: 5px;
}
.ant-input
{
    outline: 0;
}
.ant-input-affix-wrapper:hover, .ant-select:not(.ant-select-customize-input) .ant-select-selector:hover
{
    border: 1px solid $colorDefault;
}
.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover
{
    border: 1px solid $colorDefault;
}
.ant-input-affix-wrapper:focus, .ant-input-affix-wrapper-focused, .ant-select:not(.ant-select-customize-input) .ant-select-selector:focus
{
    border-color: $colorDefault;
    border-right-width: 1px;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(255, 123, 0, 0.2);
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector
{
    border-radius: 5px;
}
.icon-facebook
{
    transform: scale(2.5);
    margin-left: -40px;
}